Source: apache-couchdb
Section: unknown
Priority: extra
Maintainer: vagrant <vagrant@unknown>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/apache-couchdb.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/apache-couchdb.git;a=summary

Package: apache-couchdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
